---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site?.href ?? '/'}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <a href="/" class="home-button">Home</a>
    <h1>Blog</h1>
    {allPosts.map((post, index) => {
      const href = `/blog/${post.file.split('/').pop()!.split('.').shift()!}`;
      return (
        <div>
          <div class="post-item">
            <a href={href}>
              <h2>
                {post.frontmatter.title}
              </h2>
              <p>{post.frontmatter.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">{post.frontmatter.publishDate}</span>
              </div>
            </a>
          </div>
        </div>
      )
    })}
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }
  a {
    text-decoration: none;
  }
  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 0px auto;
  }

  .home-button {
    width: 100px;
    margin: 0 auto;
    display: block;
    text-align: center;}

    
  .home-button {
    width: 100px;
    margin: 0 auto;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Add prefers-reduced-motion support */
  @media (prefers-reduced-motion: reduce) {
    .home-button {
      animation: none;
      opacity: 1;
      transform: none;
    }
  }
</style>
